@import url(./header.css);
@import url(./footer.css);

body.invert .main_header {
  position: absolute;
  top: 0;
  width: 100%;
}

.wrapper_gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.h_screen {
  aspect-ratio: 375/600;
  background: url(../img/Symbol.png) no-repeat center/cover;
}

.info_header {
  background-color: rgba(245, 245, 250, 0.2);
}

.burger .burger_line {
  background-color: var(--white-color);
}
