@import url(./header.css);
@import url(./footer.css);

body.invert .main_header {
  background-color: inherit;
  color: #ffffff;
  position: absolute;
  top: 0;
}

.wrapper_gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.h_screen {
  aspect-ratio: 375/600;
  background: url(../img/Symbol.png) no-repeat center/cover;
}
