@import url(./header.css);
@import url(./footer.css);

body.invert .main_header {
  position: absolute;
  top: 0;
  width: 100%;
}

.wrapper_gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  position: relative;
}

.wrapper_gradient::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 10px);
  left: 20px;
  height: 20px;
  width: calc(100% - 40px);
  border-radius: 20px;
  background: var(--block-color);
  z-index: -1;
}

.wrapper_gradient::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 20px);
  left: 40px;
  height: 40px;
  width: calc(100% - 80px);
  border-radius: 20px;
  background: var(--block-color2);
  z-index: -2;
}
.h_screen {
  aspect-ratio: 375/600;
  background: url(../img/Symbol.png) no-repeat center/cover;
}

.h_screen_title {
  width: 315px;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: var(--white-color);
}

.info_header {
  background-color: rgba(245, 245, 250, 0.2);
}

.burger .burger_line {
  background-color: var(--white-color);
}

.scroll_down:hover circle.letter,
.scroll_down:hover path.letter {
  stroke: var(--accent-color);
}

.tabs_wrapp_btn {
  margin-top: var(--container-space);
  margin-bottom: var(--container-space);
  flex-direction: column;
}

.wrap_tabs::-webkit-scrollbar {
  display: none;
}

.wrap_tabs {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  overflow-x: auto;
  padding-bottom: var(--container-space);
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}

.nav-pills {
  margin-right: var(--container-space);
}

.nav-link {
  background: none;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: var(--text-color);
  white-space: nowrap;
  margin-right: 30px;
}

.nav-link.active {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tab_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--white-color);
  margin-bottom: 30px;
}

.tab-content {
  padding-top: var(--container-space);
}

.tab-pane {
  display: none;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: var(--white-color);
}

.tab-pane.active {
  display: block;
}

/***********************************service_page************************/

.service_link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--link-color);
}

.service_link:hover path.letter {
  stroke: var(--accent-color);
}

.service_card_title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.wrapper_service {
  margin-top: var(--container-space);
  margin-bottom: var(--container-space);
}

.wrap_service_img {
  width: 92px;
  height: 92px;
  background: var(--white-color);
  border-radius: 24px;
}

.service_title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--link-color);
}

.service_card_desc {
  line-height: 26px;
  color: var(--white-color);
}

.wrapper_service {
  grid-template-columns: repeat(1, 1fr);
  gap: var(--container-space);
}
