@import url(../style/header.css);
@import url(../style/footer.css);
@import url(../style/service_card.css);
@import url(../style/brand_screen.css);
@import url(../style/publication_down.css);

.card_screen {
  margin-top: var(--container-space);
  margin-bottom: var(--container-space);
}

.info_header {
  background-color: rgba(245, 245, 250, 0.2);
}

.burger .burger_line {
  background-color: var(--white-color);
}

.wrapper_service .wrap_service.entry {
  gap: 28px;
}

.service_card_desc {
  text-align: center;
  text-indent: 1em;
  font-size: 19px;
  line-height: 30px;
}

.service_btn {
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  background-color: var(--regular-color);
  border: none;
  color: #ffffff;
  font-weight: 700;
  width: 208px;
  height: 56px;
  border-radius: 12px;
  cursor: pointer;
}

.service_btn:hover {
  background-color: var(--hover-color);
  transition: all 0.2s linear;
}

.list_Service {
  border-top: 4px solid rgba(255, 255, 255, 0.5);
}

.list_Service_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--white-color);
  margin-top: 30px;
  margin-bottom: 30px;
}

.list_It {
  color: var(--white-color);
  font-size: 18px;
  line-height: 26px;
}

.info_It + .info_It {
  margin-top: 15px;
}

.info_It {
  position: relative;
  padding-left: 15px;
}

.info_It::before {
  content: "\2022";
  font-size: 30px;
  color: var(--accent-color);
  position: absolute;
  left: 0;
}

.publication_section {
  margin-top: 60px;
}

/*************************popup*****************/

.hero_Form {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}

.input_Size {
  width: 100%;
  height: 56px;
  border-radius: 8px;
}

.popup_wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.popup_wrapper.active {
  display: flex;
}

.close {
  font-size: 3rem;
  line-height: 0;
  cursor: pointer;
  color: #ec6f5d;
  position: absolute;
  top: 8%;
  left: 90%;
  text-align: center;
  width: 32px;
  height: 32px;
}

.close:hover {
  background: #e6e6f0;
  border-radius: 8px;
}

.form_feedback {
  width: 375px;
  background-color: var(--bg-color);
  border-radius: 12px;
  padding: 30px;
  position: relative;
}

.form_Message {
  width: 100%;
  height: 130px;
  border: none;
  resize: none;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 8px;
}

textarea::placeholder,
input::placeholder {
  line-height: 26px;
  color: var(--text-color);
}

.phone_L {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-color);
}

.form_Phone {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form_Submit {
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  background-color: var(--regular-color);
  border: none;
  color: #ffffff;
  margin-top: 30px;
  font-weight: 700;
}

.form_Submit:hover {
  background-color: var(--hover-color);
  transition: all 0.2s linear;
}

.form_Submit:active {
  background-color: var(--active-color);
}

input:focus,
textarea:focus {
  border: 1px solid var(--regular-color);
}

input:invalid {
  border-color: #f0145a;
}
