@import url(../style/header.css);
@import url(../style/footer.css);
@import url(../style/service_card.css);
@import url(../style/brand_screen.css);
@import url(../style/publication_down.css);

.card_screen {
  margin-top: var(--container-space);
  margin-bottom: var(--container-space);
}

.info_header {
  background-color: rgba(245, 245, 250, 0.2);
}

.burger .burger_line {
  background-color: var(--white-color);
}

.wrapper_service .wrap_service.entry {
  gap: 28px;
}

.service_card_desc {
  text-align: center;
  text-indent: 1em;
  font-size: 19px;
  line-height: 30px;
}

.service_btn {
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  background-color: var(--regular-color);
  border: none;
  color: #ffffff;
  font-weight: 700;
  width: 208px;
  height: 56px;
  border-radius: 12px;
  cursor: pointer;
}

.service_btn:hover {
  background-color: var(--hover-color);
  transition: all 0.2s linear;
}

.list_Service {
  border-top: 4px solid rgba(255, 255, 255, 0.5);
}

.list_Service_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--white-color);
  margin-top: 30px;
  margin-bottom: 30px;
}

.list_It {
  color: var(--white-color);
  font-size: 18px;
  line-height: 26px;
}

.info_It + .info_It {
  margin-top: 15px;
}
