body   {
   background-image: url(./images/4.jpg);
}

header   {
    margin: 0px, auto;
    text-align: center;
    padding-top: 10px;
 }
 nav a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 20px;
 }
main {
    max-width: 870px;
    margin: 0 auto;
    padding-top: 20px;
}
